Source: xenta-mdm-themes
Section: x11
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/xentaoslinux/xenta-mdm-themes
Vcs-Browser: https://github.com/xentaoslinux/xenta-mdm-themes.git

Package: xenta-mdm-themes
Architecture: all
Depends: xenta-mdm-themes-gdm, xenta-mdm-themes-html
Provides: mdm-themes
Conflicts: mint-mdm-themes
Replaces : mint-mdm-themes
Description: Paket Pemisah untuk Xenta OS GDM & HTML Themes.
 Sebuah Paket untuk Themes for the MDM display manager.
